#tituloPrincipal {
    color: blue;
    font-size: 30px;
    font-family: Comic Sans MS;
}

.parrafosEjemplo {
    color: aqua;
    font-weight: bold;
    font-size: 50px;
}
/*
.parrafoSecundario{
    color: blueviolet;
}

p {
    color: brown;
}
*/
a {
    color: blueviolet;
}

/*pseudo clases*/
a:hover {
    color: white;
    background-color: black;
    font-size: 25px;
    transition: 0.9s;
}

a:active {
    color: crimson;
    background-color: cadetblue;
}